@using ONTO.Localization

@model ONTO.ViewModels.AdminViewModels.EditRoleViewModel

<h2>@Labels.RoleEditName</h2>
<hr />


@using (@Ajax.BeginForm("EditRole", "Admin"
                        , routeValues: null
                        , htmlAttributes: new { @class = "form-horizontal profile-form-right-border" }
                        , ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "PUT"
                            ,
                            OnSuccess = "AddCookieForNotificationBar('lightgreen', data);"
                            ,
                            OnFailure = "AddCookieForNotificationBar('orangered', data);"
                        }
                        ))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.RoleName)
        <div>
            @Html.TextBoxFor(m => m.RoleName, htmlAttributes: new { @class = "form-control", @placeholder = Model.RoleName})
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value=@Labels.SaveButtonLabel class="btn btn-success" />
        </div>
    </div>

    @Html.HiddenFor(m => m.RoleID)


}
