@using ONTO.Localization;
@using PagedList.Mvc;

@model ONTO.ViewModels.AdminViewModels.ManageRolesViewModel

<h2>@Labels.RoleManage</h2>
<hr />

<div class="manage-roles-div-table">

    @foreach (var item in Model.PagedListOfRoles)
    {
        <div class="div-first-column">
            @item.Name
        </div>
        <div class="div-column">
            @Ajax.ActionLink(Labels.Delete, "DeleteRole"
                , routeValues: new { roleName = item.Name }
                , ajaxOptions: new AjaxOptions
                                            {
                                                HttpMethod = "DELETE"
                                                , OnSuccess = "AddCookieForNotificationBar('lightgreen', data);"
                                                , OnFailure = "AddCookieForNotificationBar('orangered', data);"
                                            })
        </div>
        <div class="div-column">
            @Html.ActionLink(Labels.Edit, "EditRole", routeValues : new { roleName = item.Name })
        </div>
        <div class="div-column">
            @Html.ActionLink(Labels.ManagerUsers, "ManageUserRole")
        </div>

    }

    <hr />

</div>


@Labels.Page @(Model.PagedListOfRoles.PageCount < Model.PagedListOfRoles.PageNumber ? 0 : Model.PagedListOfRoles.PageNumber) / @Model.PagedListOfRoles.PageCount

@Html.PagedListPager(Model.PagedListOfRoles, pageNumber => Url.Action("ManageRoles", new { pageNumber })) 