@using ONTO.Localization
@model ONTO.ViewModels.AccountViewModels.ProfileViewModel


<h2>Profile</h2>

@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal profile-form-right-border", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.CurrentEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CurrentEmail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Localization, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedLocale, new SelectList(Model.Localization, "ID", "_Localization", Model.SelectedLocale), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value=@Labels.SaveButtonLabel />
        </div>
    </div>
}
<div class="change-password">
    @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-default" })
</div>