@using ONTO.Localization
@model ONTO.ViewModels.AccountViewModels.UserAppSettingsViewModel

<h2>@Labels.UserApplicationSettings</h2>
<hr />

@using (Html.BeginForm("UserAppSettings", "Account", FormMethod.Post, new { @class = "form-horizontal profile-form-right-border", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Localization)
        <div>
            @Html.DropDownListFor(m => m.SelectedLocale, new SelectList(Model.Localization, "ID", "_Localization", Model.SelectedLocale), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-success" value=@Labels.SaveButtonLabel />
        </div>
    </div>
}


<div class="form-right-border-right-menu">
    <div class="list-group admin-settings">
        @Html.ActionLink(Labels.IdentityProfileSettings, "IdentityProfileSettings", "Account", null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
    </div>
</div>
